.fwp{
    max-width: 464px;
    border-radius: 8px;
    &__image{
        flex: 90px;
        border-radius: 8px 0 0 8px;
        // @include media-breakpoint-up(md) {
        //     flex: 112px;
        // }
    }
    .product-title{
        a{
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &__content{
        flex: calc(100% - 90px - 20px);
        // @include media-breakpoint-up(md) {
        //     flex: calc(100% - 112px - 20px);
        // }
        .product-form__input--dropdown{
            margin-bottom: 0;
        }
    }
    &__checker{
        flex: 18px;
        height: 18px;
        border: 1px solid $classic-blue;
        border-radius: 3px;
        text-align: right;
        background-color: transparent;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        i{
            visibility: hidden;
            line-height: 1;
        }
        &.checked{
            background-color: $classic-blue;
            i{
                color: $white;
                visibility: visible;
                line-height: 1;
            }
        }
    }
}