// $heading-font: "GT Alpina";
// $body-font: "NeueHaasGrotDisp";

.content {
    &-post {
        * {
            &:first-child {
                margin-top: 0;
            }
        }

        img{
            width: 100%;
            max-width: auto;
        }

        h5,
        h6 {
            font-family: $body-font;
        }

        h5 {
            font-size: 12px;
            line-height: 18px;
            text-transform: uppercase;
        }

        h6 {
            font-weight: 400;
            font-size: 24px;
            line-height: 34px;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            &:first-of-type {
                & + * {
                    margin-top: 30px;
                }
            }
        }

        p {
            margin-top: 30px;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        figure {
            margin-bottom: 0;
        }

        blockquote + *,
        p + blockquote,
        p + h1,
        p + h2,
        p + h3,
        p + h4,
        p + h5,
        p + h6,
        p + img,
        p + figure,
        ul + h1,
        ul + h2,
        ul + h3,
        ul + h4,
        ul + h5,
        ul + h6,
        ol + h1,
        ol + h2,
        ol + h3,
        ol + h4,
        ol + h5,
        ol + h6 {
            margin-top: 24px;

            @include media-breakpoint-up(md) {
                margin-top: 48px;
            }
        }

        p + *,
        ul + *,
        ol + *,
        blockquote + *,
        h1 + *,
        h2 + *,
        h3 + *,
        h4 + *,
        h5 + *,
        h6 + * {
            margin-top: 30px;
        }

        ul,
        ol {
            margin-left: 8px;
            margin-right: 8px;

            @include media-breakpoint-up(md) {
                margin-left: 16px;
                margin-right: 16px;
            }

            > li {
                margin-bottom: 0;
                margin-top: 12px;
                padding-left: 10px;
            }
        }

        hr {
            margin: 48px 0;
            background-color: $gray-200;
            opacity: 1;
            @include media-breakpoint-up(md) {
                margin: 64px 0;
            }
        }

        a {
            color: $classic-blue !important;
        }

        table:not([class]) {
            font-size: 14px;
            letter-spacing: 0.3px;

            @include media-breakpoint-up(md) {
                font-size: 18px;
            }
        }
    }
}
