.collection{
    .product-grid {
        row-gap: 60px;
        @include media-breakpoint-up(md) {
            row-gap: 80px;
        }
        // hover image
        .card-wrapper:hover .media.media--hover-effect>img:first-child:not(:only-child) {
            opacity: initial;
        }

        .card__media{
            img{
                transition: opacity 0.5s, transform 0.5s ease-in-out;
                &.hover-image{
                    background-color: $gray-200;
                    transform: scale(1.03);
                    &.hide{
                        opacity: 0 !important;
                    }
                }
                &.default-img{
                    transform: scale(1.03);
                    opacity: 1 !important;
                    transition: opacity 0.5s, transform 0.5s ease-in-out;
                }
            }
            &:hover{
                img{
                    &.default-img{
                        transform: scale(1);
                        opacity: 0 !important;
                    }
                    &.preview-img{
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }
        }
    }
}

.select__select{
    z-index: 4;
    i{
        z-index: 0;
    }
}
