input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 13rem transparent inset !important;
}

html {
    scroll-behavior: smooth;
    // font-size: 16px;
}

html,
body {
    height: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
    // Makes the smooth scrolling on ios devices
}

body {
    letter-spacing: normal;
    @include font-smoothing(on);
    // font-size: rem(16px);
    // line-height: rem(24px);
    // font-family:$font-family-base;
    // color:$black;
    // letter-spacing: .03em;
    // @include media-breakpoint-up(sm){
    //     font-size: rem(18px);
    //     line-height: rem(26px); 
    // }
    color: $primary;
    overflow-x: hidden;
    &.prevent-scrolling {
        @extend .overflow-hidden, .position-fixed, .w-100;
        top: auto;
    }
    &.open{
        overflow-y: hidden;
    }
    &.overflow-hidden-tablet{
        overflow: hidden;
        @include media-breakpoint-down(lg) {
            .announcement-bar{
                // display: none;
                visibility: hidden;
            }
        }
        
    }
}

a{
    color: $primary;
    &:hover{
        color: $primary;
    }
}

.needsclick.kl-private-reset-css-Xuajs1,
#chat-window,
#chat-button{
    z-index: 9 !important;
}
#chat-button {
    @include media-breakpoint-down(sm) {
        bottom: 40px !important;
    }
}