@font-face {
    font-family: 'GT Alpina';
    src: url('https://cdn.shopify.com/s/files/1/0037/5062/5344/files/GT-Alpina-Condensed-Medium_805d9f11-e176-4456-91ba-67ce743fbd2c.woff2?v=1652956147') format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0037/5062/5344/files/GT-Alpina-Condensed-Medium_5ca3d6f4-bc55-4f1e-8e8c-49903afe4353.woff?v=1652956147') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasGrotDisp';
    src: url('https://cdn.shopify.com/s/files/1/0037/5062/5344/files/NeueHaasGrotDisp-76BoldItalic-Web.woff2?v=1648706352') format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0037/5062/5344/files/NeueHaasGrotDisp-76BoldItalic-Web.woff?v=1648706352') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasGrotDisp';
    src: url('https://cdn.shopify.com/s/files/1/0037/5062/5344/files/NeueHaasGrotDisp-75Bold-Web.woff2?v=1648706352') format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0037/5062/5344/files/NeueHaasGrotDisp-75Bold-Web.woff?v=1648706352') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasGrotDisp';
    src: url('https://cdn.shopify.com/s/files/1/0037/5062/5344/files/NeueHaasGrotDisp-65Medium-Web.woff2?v=1648706352') format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0037/5062/5344/files/NeueHaasGrotDisp-65Medium-Web.woff?v=1648706352') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasGrotDisp';
    src: url('https://cdn.shopify.com/s/files/1/0037/5062/5344/files/NeueHaasGrotDisp-66MediumItalic-Web.woff2?v=1648706352') format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0037/5062/5344/files/NeueHaasGrotDisp-66MediumItalic-Web.woff?v=1648706352') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasGrotDisp';
    src: url('https://cdn.shopify.com/s/files/1/0037/5062/5344/files/NeueHaasGrotDisp-56Italic-Web_583601f7-5333-45c0-a9cf-865a3aef671b.woff2?v=1648706352') format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0037/5062/5344/files/NeueHaasGrotDisp-56Italic-Web_26a15c3a-0de5-4e0e-9da3-b670c8281578.woff?v=1648706352') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasGrotDisp';
    src: url('https://cdn.shopify.com/s/files/1/0037/5062/5344/files/NeueHaasGrotDisp-55Roman-Web_8578c3c0-dcf2-415f-bc37-d52785327b1e.woff2?v=1648706352') format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0037/5062/5344/files/NeueHaasGrotDisp-55Roman-Web_e09b826b-665a-43bf-94ca-0bde8a74ce74.woff?v=1648706352') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasGrotDisp';
    src: url('https://cdn.shopify.com/s/files/1/0037/5062/5344/files/NeueHaasGrotDisp-46LightItalic-Web_36395acb-15fd-4543-9f22-379565f5bccd.woff2?v=1648706352') format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0037/5062/5344/files/NeueHaasGrotDisp-46LightItalic-Web_1ed5a444-aba7-4d88-a383-b9e494f682f4.woff?v=1648706352') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'NeueHaasGrotDisp';
    src: url('https://cdn.shopify.com/s/files/1/0037/5062/5344/files/NeueHaasGrotDisp-45Light-Web_88fbbad8-7de5-45c1-89c2-80200c2c0aa4.woff2?v=1648706352') format('woff2'),
    url('https://cdn.shopify.com/s/files/1/0037/5062/5344/files/NeueHaasGrotDisp-45Light-Web_88fbbad8-7de5-45c1-89c2-80200c2c0aa4.woff2?v=1648706352') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Value Serif Pro';
    src: url('https://cdn.shopify.com/s/files/1/0037/5062/5344/files/ValueSerifPro-Bold.woff2?v=1648722185') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0037/5062/5344/files/ValueSerifPro-Bold.woff?v=1648722185') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

