.footer{
    border-bottom: 6px solid $primary;
    @include media-breakpoint-up(sm) {
        border-bottom: 9px solid $primary;
    }
    @include media-breakpoint-down(sm) {
        background: $white !important;
    }

    .grid--4-col-tablet .footer-block--newsletter.grid__item {
        @include media-breakpoint-up(md) {
            width: calc(40% - var(--grid-desktop-horizontal-spacing) * 4 / 4);
        }
    }
    
    .grid--4-col-tablet .grid__item{
        @include media-breakpoint-up(md) {
            width: calc(20% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
        }
    }
    .footer-block__newsletter{
        @include media-breakpoint-up(sm) {
            max-width: 315px;
        }
    }
    .footer-section__top-img{
        img{
            height: 20px;
            width: 36px;
            object-fit: contain;
            object-position: left;
            @include media-breakpoint-up(sm) {
                height: 25px;
                width: 45px;
            }
        }
    }
    .newsletter__contact-list,
    .newsletter__contact-list *{
        font-size: 16px;
        line-height: 30px;
        // a{
        //     color: $primary;
        //     &:hover,
        //     &:focus{
        //         color: $classic-blue;
        //     }
        // }
    }
    &-block{
        @include media-breakpoint-down(sm) {
            padding: 0 10px;
        }
        &__details-content{
            p{
                font-size: 14px;
                line-height: 21px;
                color: $primary;
            }
            li{
                margin-top: 16px;
                letter-spacing: 0.03rem;
                color: $primary;
                &:first-child{
                    margin-top: 0;
                }
                a{
                    color: $primary;
                    transition: color 0.3s ease-in-out;
                    &:hover,
                    &.active{
                        // color: $classic-blue;
                        text-decoration: underline;
                        text-underline-offset: 1px;
                    }
                    &.list-menu__item--active{
                        text-decoration: underline;
                        text-underline-offset: 1px;
                    }
                }
            }
        }
        &--newsletter{
            position: relative;
            &:before{
                @include media-breakpoint-down(sm){
                    position: absolute;
                    content: '';
                    background: $light-sky;
                    width: 100vw;
                    left: -20px;
                    height: calc(100% + 48px);
                    top: -48px;
                }
            }
        }
        &--menu{
            .footer-block__heading{
                color: $primary;
                @include media-breakpoint-down(sm) {
                    font-size: 16px;
                    line-height: 26px;
                    cursor: pointer;
                    color: $gray-900;
                }
            }
            @include media-breakpoint-down(sm){
                position: relative;
                padding: 20px 10px;
            }
            &:after{
                @include media-breakpoint-down(sm){
                    position: absolute;
                    content: '';
                    left: -20px;
                    height: 1px;
                    width: 100vw;
                    background-color: $primary;
                    bottom: 0;
                }
            }
        }
        &__newsletter{
            position: relative;
            .field__input{
                border: 0;
                border-radius: 0;
                background: transparent;
                -webkit-appearance: none;
            }
        }
        &__subheading{
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.03rem;
            @include media-breakpoint-up(md) {
                font-size: 14px;
                line-height: 21px;
                font-size: 14px;
                line-height: 21px;
            }
        }
    }
    &__content-top{
        .footer__blocks-wrapper{
            max-width: 1210px;
            margin: 0 auto;
        }
    }

    .klaviyo_messages{
        @extend .body-sm;
        margin-top: 12px;
        .success_message{
            color: $success;
        }
    }
    &__newsletter{
        .newsletter-form__button{
            width: 20px;
            height: 40px;
            i{
                font-size: 20px;
            }
        }
    }
    .list-social__item{
        a{
            svg{
                fill: $primary;
            }
            &:hover,
            &:focus{
                svg{
                    fill: $classic-blue;
                }
            }
        }
    }
}

.footer-block-image{
    img{
        object-fit: contain;
        object-position: top;
    }
}

.menu-list-title{
    @include media-breakpoint-down(sm){
        position: relative;
    }
    &::before,
    &::after{
        @include media-breakpoint-down(sm){
            position: absolute;
            content: '';
            background: $primary;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &::before{
        @include media-breakpoint-down(sm){
            right: 0;
            width: 11px;
            height: 1px;
        }
    }
    &::after{
        @include media-breakpoint-down(sm){
            right: 5px;
            width: 1px;
            height: 11px;
        }
    }
    &.active{
        &::after{
            display: none;
        }
    }
}

.menu-list-content{
    @include media-breakpoint-down(sm){
        height: 0;
        transition: height 0.5s ease-in-out;
        overflow: hidden;
        z-index: 4;
        position: relative;
    }
    &.active{
        @include media-breakpoint-down(sm){
            height: auto;
            margin-top: 35px;
        }
    }
}

.footer__blocks-wrapper.grid{
    @include media-breakpoint-down(sm){
        row-gap: 0;
    }
}

.footer__content-links-list{
    color: $gray-600;
    @include media-breakpoint-up(sm){
        text-decoration: underline;
        color: $primary;
    }
    a{
        text-decoration: none;
        color: $gray-600;
        @include media-breakpoint-up(sm){
            text-decoration: underline;
            color: $primary;
        }
    }
}