
.header{
    &--middle-center{
        grid-template-areas: "heading icons";
        grid-template-columns: 2fr 1fr;
        padding: 20px;
        @include media-breakpoint-up(md) {
            padding: 20px 40px;
        }
        @include media-breakpoint-up(lg) {
            grid-template-areas: "navigation heading icons";
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 2rem;
            .header__inline-menu{
                margin-top: 0;
            }
        }
        .header__heading, 
        .header__heading-link{
            justify-self: start;
            @include media-breakpoint-up(lg) {
                justify-self: center;
            }
        }
    }
    &-text{
        &-primary{
            .header__icons i,
            .hamburger,
            .header__heading-link .h2,
            .header__menu-item{
                color: $primary;
            }
            .hamburger{
                i,
                &:after,
                &:before{
                    background: $primary;
                }
            }
        }
        &-white{
            .header__icons i,
            .hamburger,
            .header__heading-link .h2,
            .header__menu-item{
                color: $white;
            }
            .hamburger{
                i,
                &:after,
                &:before{
                    background: $white;
                }
            }
            .cart-count-bubble{
                background-color: $white;
                span{
                    color: $classic-blue;
                }
            }
        }
    }
}

.shopify-section-header-sticky.animate .header-text-white.color-transparent .cart-count-bubble{
    background-color: $classic-blue;
    span{
        color: $white;
    } 
}

.shopify-section-header-sticky.animate .header-text-white .cart-count-bubble{
    background-color: $white;
    span{
        color: $classic-blue;
    }           
}

.page-border-top{
    border-top: 1px solid #ECF3FF20;
}

.header__inline-menu details[open] .header__submenu{
    animation: animateMenuOpen var(--duration-default) ease;
}

.logo-light{
    .header__heading-logo{
        display: block;
        .header-wrapper:hover &,
        .open &,
        .shopify-section-header-sticky &{
            display: none;
        }
        &--dark{
            display: none;
            .header-wrapper:hover &,
            .open &,
            .shopify-section-header-sticky &{
                display: block;
            }
        }
    }
}

.header__search details{
    display: flex;
    align-items: center;
}

.header__icons{
    align-items: center;
}

.header__heading, 
.header__heading-link{
    @include media-breakpoint-up(lg) {
        vertical-align: top;
    }
}

.color-transparent.gradient{
    background-color: $white;
    border-bottom: 1px solid transparent;
    width: 100%;
    transition: transform 0.3s ease-in-out, color 0.5s ease-in-out;
    .overflow-hidden-tablet &{
        border-bottom: 1px solid $gray-200;
        transition: all 0.5s ease-in-out;
        background-color: $white !important;
        .hamburger,
        .header__icons i,
        .header__heading-link .h2,
        .header__menu-item{
            color: $primary;
            transition: all 0.3s ease-in-out;
            &:hover{
                color: $classic-blue;
            }
        }
        .hamburger{
            i,
            &:after,
            &:before{
                background: $primary;
            }
            &:hover{
                &:after,
                &:before{
                    background: $classic-blue;
                }
            }
        }
        .header__menu-item[aria-expanded='true']{
            color: $classic-blue;
        }
        .cart-count-bubble{
            background-color: $classic-blue;
            span{
                color: $white;
            }
        }
    }
    &.header-text-primary{
        border-bottom: 1px solid $primary;
        .open &,
        &:hover{
            border-bottom: 1px solid $gray-200;
        }
    }
    .open &,
    &:hover{
        border-bottom: 1px solid $gray-200;
        transition: all 0.5s ease-in-out;
        @include media-breakpoint-up(lg) {
            background-color: $white !important;
        }
        .hamburger,
        .header__icons i,
        .header__heading-link .h2,
        .header__menu-item{
            @include media-breakpoint-up(lg) {
                color: $primary;
                transition: all 0.3s ease-in-out;
            }
            &:hover{
                @include media-breakpoint-up(lg) {
                    color: $classic-blue;
                }
            }
        }
        .hamburger{
            &:after,
            &:before{
                @include media-breakpoint-up(lg) {
                    background: $primary;
                    transition: all 0.3s ease-in-out;
                }
            }
            &:hover{
                &:after,
                &:before{
                    @include media-breakpoint-up(lg) {
                        color: $classic-blue;
                    }
                }
            }
        }
        .header__menu-item[aria-expanded='true']{
            @include media-breakpoint-up(lg) {
                color: $classic-blue;
            }
        }
        .cart-count-bubble{
            @include media-breakpoint-up(lg) {
                background-color: $classic-blue;
            }
            span{
                @include media-breakpoint-up(lg) {
                    color: $white;
                }
            }
        }
    }
    &.header-text-white{
        border-bottom: 1px solid $white;
    }
    .lalo-sticky-header &{
        background-color: transparent;
        // border-bottom: 1px solid $primary;
        position: absolute;
        left: 0;
    }
    .lalo-sticky-header.open &{
        @include media-breakpoint-up(lg) {
            border-bottom: 1px solid $gray-200;
            background-color: $white;
        }
    }
}

.color-primary.gradient{
    background-color: $primary;
    border-bottom: 1px solid transparent;
    transition: background-color 0.5s ease-in-out;
    .open &,
    &:hover{
        background-color: $white;
        .logo-light{
            .header__heading-logo{
                display: none;
                &--dark{
                    display: block;
                }
            }
        }
        .hamburger,
        .header__icons i,
        .header__heading-link .h2,
        .header__menu-item{
            color: $primary;
        }
        .hamburger{
            i,
            &:after,
            &:before{
             background: $primary;
            }
        }
        .cart-count-bubble{
            background-color: $classic-blue;
            span{
                color: $white;
            }
        }
    }
    .logo-light{
        .header__heading-logo{
            display: block;
            &--dark{
                display: none;
            }
        }
    }
    .lalo-sticky-header.open &{
        @include media-breakpoint-up(lg) {
            border-bottom: 1px solid $gray-200;
        }
    }
}

.lalo-page-header{
    .header-light-logo{
        .header__heading-logo{
            display: none;
            &--dark{
                display: block;
            }
        }
    }
}

.shopify-section-header-sticky {
    .color-transparent.gradient{
        background-color: $white;
        border-bottom: 1px solid $gray-200;
        top: 0;
        transform: translateY(0);
        transition: transform 0.3s ease-in-out, color 0.5s ease-in-out;
        .hamburger,
        .header__icons i,
        .header__heading-link .h2,
        .header__menu-item{
            color: $primary;
        }
        .hamburger{
            i,
            &:after,
            &:before{
             background: $primary;
            }
        }
    }
    &.shopify-section-header-hidden {
        .color-transparent.gradient{
            transform: translateY(-100%);
        }
    }
}

.list-menu{
    li{
        @include media-breakpoint-up(xl) {
            margin-right: 10px;
        }
        &:last-child{
            margin-right: 0;
        }
    }
    &__item{
        font-size: 14px;
        line-height: 21px;
    }
}

.header__menu-item {
    padding: 4px 18px;
    background-color: transparent;
    border-radius: 50px;
    &.active,
    &:hover{
      background-color: $light-sky;
      color: $classic-blue !important;
    }
}

.header__icon .icon-search{
    width: 21px;
}

details[open] > .header__menu-item {
    background-color: $light-sky;
}

details[open] .header__submenu .header__menu-item {
    background-color: transparent;
}

.header__submenu{
    .list-menu__item{
        @extend .heading-font;
        margin-bottom: 24px;
        font-size: 22px;
        line-height: 30px;
        @include media-breakpoint-up(md) {
            font-size: 27px;
            line-height: 32px;
        }
        &:hover,
        &[aria-expanded='true']{
            text-decoration: underline;
            color: $classic-blue !important;
        }
    }
    li{
        &:last-child{
            .list-menu__item{
                margin-bottom: 0;
            }
        }
    }
    .header__menu-item {
        padding: 0;
        background-color: transparent;
        border-radius: 0;
        &:hover{
          background-color: transparent;
          text-decoration: underline;
        }
    }
    .header__submenu{
        @include media-breakpoint-up(md) {
            position: fixed;
            left: 310px;
            background: #fff;
            width: 310px;
            height: 100%;
            top: 120px;
            transform: translateX(-120px);
            margin: 0;
            box-shadow: 10px 0px 124px rgba(0, 0, 0, 0.15);
            min-width: 310px;
            border-left: 1px solid $gray-200;
        }
        @include media-breakpoint-up(xxl) {
            left: 21.5vw;
            width: 21.5vw;
        }
        .list-menu__item{
            @extend .body;
            @extend .body-font;
            font-weight: 400;
            &:hover{
                text-decoration: none;
                color: $classic-blue !important;
            }
        }
        .header__submenu-list{
            margin-bottom: 0;
            @include media-breakpoint-up(md) {
                padding:40px 40px 32px 40px;
            }
        }
    }
    .announcement-bar-hidden &,
    .shopify-section-header-sticky &{
        @include media-breakpoint-up(md) {
            top: 71px !important;
            height: calc(100vh - 71px) !important;
        }
        @include media-breakpoint-up(lg) {
            top: 87px !important;
            height: calc(100vh - 87px)!important;
        }
    }
    @include media-breakpoint-up(lg) {
        .header--top-center &,
        .header--top-left & {
          top: 175px;
          .announcement-bar-hidden &,
          .shopify-section-header-sticky &{
                top: 136px !important;
            }
        }
    }
}

.header__heading-logo{
    max-width: 70px;
    height: 20px;
    object-fit: contain;
    object-position: left;
    @include media-breakpoint-up(md) {
        max-width: 90px;
        height: 23px;
        object-position: center;
    }
}

.header__icon{
    margin-left: 10px;
    i{
        position: relative;
        z-index: 4;
        font-size: 23px;
        @include media-breakpoint-up(md) {
            font-size: 26px;
        }
    }
    span{
        line-height: 10px;
    }
    &--cart{
        .cart-count-bubble span,
        i{
            transition: transform 0.3s all;
            transform: rotate(0);
        }
        &:hover{
            i{
                transform: rotate(-6.02deg);
            }
            .cart-count-bubble span{
                transform: rotate(16deg);
            }
        }
    }
}

.cart-count-bubble{
    line-height: 17px;
    left: 29px;
    width: auto;
    font-size: 9px;
    height: 16px;
    top: -6px;
    display: flex;
    border-radius: 40px;
    background-color: $classic-blue;
    padding: 3px;
    margin: 0;
    min-width: 16px;
    z-index: 4;
    .shopify-section-header-sticky.animate &{
        background-color: $classic-blue;
    }
    span{
        color: $white;
        .shopify-section-header-sticky.animate &{
            color: $white;
        }
    }
}

.search-modal{
    background-color: $white;
    z-index: 9;
    .modal-overlay:after{
        display: none;
    }
    .search__button{
        min-height: 42px;
    }
    
}
.modal__close-button.link {
    @include media-breakpoint-down(lg) {
        margin-right: 16px;
    }
}

.menu-drawer__menu{
    border-bottom: 1px solid $light-sky;
    .menu-drawer__menu{
        border-bottom: 0;
    }
    li{
        .list-menu__item{
            border-top: 1px solid $light-sky;
        }
    }
    details[open]{
        summary.menu-drawer__menu-item{
            padding: 15px 20px;
        }
    }
}

.header__submenu.list-menu{
    overflow: auto;
}

.mobile__submenu{
    &--sub{
        .menu-drawer__menu{
            border-top: 0;
        }
        li{
            border-bottom: 0px;
            .list-menu__item{
                font-size: 16px;
                line-height: 30px;
                font-family: $body-font;
                padding: 11px 20px;
                font-weight: normal;
                border-top: 0;
            }
        }
    }
}

.menu-drawer__utility-links{
    padding: 40px 20px;
    @include media-breakpoint-up(md) {
        padding: 40px;
    }
}

.menu-drawer{
    max-height: calc(100vh - 50px) !important;
    .list-menu__item{
        font-family: $heading-font;
        .list-menu__item{
            font-family: $body-font;
        }
    }
    .icon-arrow-down{
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(calc(-50%));
        @include media-breakpoint-up(md) {
            right: 40px;
        }
    }
}

.menu-drawer__inner-submenu details[open]  .icon-arrow-down{
    transform: translateY(-50%) rotate(-180deg);
}

.menu-drawer__navigation-container{
    height: 100%;
    overflow: auto;
}

.menu-drawer__inner-container{
    background-color: $pale-gray;
    .menu-drawer__navigation{
        background-color: $white;
    }
}

.header__submenu-list{
    list-style: none;
    padding: 0;
    color: $primary;
    font-weight: normal;
    margin-bottom: 24px;
}

// featured product

.menu-features-product{
    .eyebrow{
        font-weight: 500;
        font-size: 8px;
        line-height: 9px;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        color: $green-brown;
    }  
    &__product{
        padding: 30px 20px;
        background: #f2f2f2; 
        margin-bottom: 11px;
        border-radius: 6px;
        margin: 0 20px 11px 20px;
        @include media-breakpoint-up(lg) {
            border-radius: 0;
            margin: 0 0 2px 0;
        }
        &:last-child{
            margin-bottom: 36px;
            @include media-breakpoint-up(lg) {
                margin-bottom: 0;
            }
        }
        &-image{
            img{
                width: 100%;
                height: 120px;
                object-fit: contain;
            }
        }
        &-title{
            margin-bottom: 4px;
        }
    } 
    .swatch{
        margin-right: 8px;
        // outline: 1px solid transparent;
        // outline-offset: 2px;
        a{
            border-radius: 50%;
            width: 12px;
            height: 12px;
            &:before{
                position: absolute;
                width: 16px;
                height: 16px;
                border: 1px solid transparent;
                content: '';
                border-radius: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
        &.active{
            a{
                &::before{
                    border: 1px solid $primary;
                }
            }
        }
        &:last-child{
            margin-right: 0;
        }
        span{
            visibility: hidden;
            font-size: 0;
        }
    }
    .product-tag{
        border-radius: 3px;
        position: relative;
        padding: 1px 6px;
        margin-left: 6px;
        &:after{
            position: absolute;
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 1px;
            background-color: $basil;
            left: -3px;
            top: 50%;
            transform: translateY(-50%) rotate(-45deg);
        }
    }
}

.main-parent-menu{
    > li{
        &:last-child{
            display: none;
        }
    }
}

.menu-drawer{
    .utility-menu{
        height: 0;
        visibility: hidden;
        opacity: 0;
        &.show{
            height: auto;
            visibility: visible;
            opacity: 1;
            margin-top: 20px;
            margin-bottom: 32px;
        }
        .list-menu__item{
            font-family: $body-font;
            color: $primary;
            &:hover{
                color: $classic-blue;
            }
        }
    }
}

// announcement bar

.overflow-hidden-tablet{
    .announcement-bar{
        visibility: hidden;
    }
}

// hamburger
.header__icon--menu .hamburger{
    position: relative;
    height: 24px;
    width: 24px;
    display: block;
    i,
    &:before,
    &:after{
        content: '';
        width: 22px;
        height: 1px;
        background-color: $primary;
        position: absolute;
        left: 50%;
        transform: rotate(0) translateX(-50%);
        border-radius: 4px;
        transform-origin: left;
    }
    i{
        top: 50%;
        transform: translate(-50%,-50%);
        .menu-opening &{
            display: none;
        }
    }
    &:before{
        top: 4px;
        transition: transform 0.2s ease-in-out;
        .menu-opening &{
            transform: rotate(45deg) translate(-50%,-50%);
            top: 49%;
        }
    }
    &:after{
        bottom: 4px;
        .menu-opening &{
            transform: rotate(-45deg) translate(-50%,-50%);
            bottom: 47%;
        }
    }
}

.header__icon--hamburger{
    @include media-breakpoint-down(lg) {
        width: 24px;
        margin-left: 24px;
    }
}

.header__icon--menu .hamburger{
    i,
    &:before,
    &:after{
        background-color: $primary;
        .header-text-white &{
            background-color: $white;
        }
        .open &,
        .color-primary.gradient:hover &,
        .header-text-primary &{
            background-color: $primary;
        }
    }
}   