@font-face {
    font-family: 'icon';
    src:  url('https://cdn.shopify.com/s/files/1/0037/5062/5344/files/icon.eot?v=1653387428');
    src:  url('https://cdn.shopify.com/s/files/1/0037/5062/5344/files/icon.eot?v=1653387428') format('embedded-opentype'),
      url('https://cdn.shopify.com/s/files/1/0037/5062/5344/files/icon.ttf?v=1653387428') format('truetype'),
      url('https://cdn.shopify.com/s/files/1/0037/5062/5344/files/icon.woff?v=1653387428') format('woff'),
      url('https://cdn.shopify.com/s/files/1/0037/5062/5344/files/icon.svg?v=1653387428') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  // .icon-cart:before {
  //   content: "\e90d";
  // }
  // .icon-tick-circle:before {
  //   content: "\e90e";
  // }
  // .icon-star-filled:before {
  //   content: "\e90c";
  // }
  // .icon-star:before {
  //   content: "\e917";
  // }
  // .icon-heart:before {
  //   content: "\e912";
  // }
  // .icon-user:before {
  //   content: "\e91a";
  // }
  // .icon-Subtract:before {
  //   content: "\e919";
  // }
  // .icon-ar:before {
  //   content: "\e900";
  // }
  // .icon-arrow-left:before {
  //   content: "\e901";
  // }
  // .icon-arrow-right:before {
  //   content: "\e903";
  // }
  // .icon-arrow-left-filled:before {
  //   content: "\e902";
  // }
  // .icon-arrow-right-filled:before {
  //   content: "\e904";
  // }
  // .icon-chevron-bottom:before {
  //   content: "\e905";
  // }
  // .icon-chevron-left:before {
  //   content: "\e906";
  // }
  // .icon-chevron-right:before {
  //   content: "\e907";
  // }
  // .icon-chevron-top:before {
  //   content: "\e908";
  // }
  // .icon-close:before {
  //   content: "\e909";
  // }
  // .icon-delivery:before {
  //   content: "\e90a";
  // }
  // .icon-facebook:before {
  //   content: "\e90b";
  // }
  // .icon-Gift:before {
  //   content: "\e910";
  // }
  // .icon-hamburger:before {
  //   content: "\e911";
  // }
  // .icon-insta:before {
  //   content: "\e913";
  // }
  // .icon-Message-square:before {
  //   content: "\e914";
  // }
  // .icon-Plus:before {
  //   content: "\e915";
  // }
  // .icon-search:before {
  //   content: "\e916";
  // }
  // .icon-Thumbs-down:before {
  //   content: "\e91b";
  // }
  // .icon-Thumbs-up:before {
  //   content: "\e91c";
  // }
  // .icon-tick:before {
  //   content: "\e91d";
  // }
  // .icon-tiktok:before {
  //   content: "\e91e";
  // }
  // .icon-youtube:before {
  //   content: "\e920";
  // }
  
  .icon-cart:before {
    content: "\e918";
  }
  .icon-tick-circle:before {
    content: "\e909";
  }
  .icon-circle-plus:before {
    content: "\e908";
  }
  .icon-circle:before {
    content: "\e900";
  }
  .icon-circle-minus:before {
    content: "\e901";
  }
  .icon-Plus:before {
    content: "\e902";
  }
  .icon-Plus-circle:before {
    content: "\e903";
  }
  .icon-Radio-true:before {
    content: "\e904";
  }
  .icon-square:before {
    content: "\e905";
  }
  .icon-square-minus:before {
    content: "\e906";
  }
  .icon-square-tick:before {
    content: "\e907";
  }
  .icon-ar:before {
    content: "\e90b";
  }
  .icon-arrow-left:before {
    content: "\e90c";
  }
  .icon-arrow-left-filled:before {
    content: "\e90d";
  }
  .icon-arrow-right:before {
    content: "\e90e";
  }
  .icon-arrow-right-filled:before {
    content: "\e90f";
  }
  .icon-chevron-bottom:before {
    content: "\e910";
  }
  .icon-chevron-left:before {
    content: "\e911";
  }
  .icon-chevron-right:before {
    content: "\e912";
  }
  .icon-chevron-top:before {
    content: "\e913";
  }
  .icon-close:before {
    content: "\e914";
  }
  .icon-delivery:before {
    content: "\e915";
  }
  .icon-facebook:before {
    content: "\e916";
  }
  .icon-star-filled:before {
    content: "\e917";
  }
  .icon-Gift:before {
    content: "\e919";
  }
  .icon-hamburger:before {
    content: "\e91a";
  }
  .icon-heart:before {
    content: "\e91b";
  }
  .icon-insta:before {
    content: "\e91c";
  }
  .icon-Message-square:before {
    content: "\e91d";
  }
  .icon-search:before {
    content: "\e91f";
  }
  .icon-star:before {
    content: "\e920";
  }
  .icon-Subtract:before {
    content: "\e921";
  }
  .icon-user:before {
    content: "\e922";
  }
  .icon-Thumbs-down:before {
    content: "\e923";
  }
  .icon-Thumbs-up:before {
    content: "\e924";
  }
  .icon-tick:before {
    content: "\e925";
  }
  .icon-tiktok:before {
    content: "\e926";
  }
  .icon-youtube:before {
    content: "\e927";
  }