.tag{
    border-radius: 2px;
    min-width: 48px;
    text-align: center;
    &-sale{
        color: var(--sale-tag-text-color);
        background-color: var(--sale-tag-bg-color);
    }
    &-new{
        background-color: var(--new-tag-bg-color);
        color: var(--new-tag-text-color);
    }
    // &-sold{
    //     color: var(--sold-tag-text-color);
    //     background-color: var(--sold-tag-bg-color);
    // }
    &-save{
        color: var(--save-tag-text-color);
        background-color: var(--save-tag-bg-color);
    }
    &-bundle{
        color: var(--bundle-tag-text-color);
        background-color: var(--bundle-tag-bg-color);
    }
    &-stock{
        color: var(--stock-tag-text-color);
        background-color: var(--stock-tag-bg-color);
    }
    &-best{
        color: var(--best-tag-text-color);
        background-color: var(--best-tag-bg-color);
    }
    &-few{
        color: var(--few-tag-text-color);
        background-color: var(--few-tag-bg-color);
    }
    &-trial{
        color: var(--trial-tag-text-color);
        background-color: var(--trial-tag-bg-color);
    }
    &--variant{
        margin-bottom: 4px;
        display: inline-block;
        border-radius: 3px;
        &:after{
            position: absolute;
            width: 6px;
            height: 6px;
            background-color: $basil;
            bottom: -3px;
            left: 50%;
            transform: translate(-50%) rotate(45deg);
            content: '';
        }
    }
}