{%- style -%}
    
{% endstyle %}

{% for block in section.blocks %}
    <{%- case block.type -%}
        {%- when "card" -%}
            <div class="card">
                <img src="{{ block.settings.image | image_url: 'master' }}" />

                <h1>{{ block.settings.card_title }}</h1>

                <p>${{ block.settings.card_price }}</p>
            </div>
    {% endcase %}
{% endfor %}

{% schema %}
{
    "name": "t:sections.card-leadspace.name,
    "tag": "section",
    "class": "card",
    "settings": [],
    "blocks": [
        "max": 50,
        "type": "card",
        "name": "Card",
        "settings": [
            {
                "type": "text",
                "id": "card_title",
                "label": "Card Title",
                "default": "Card Title"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Card Image",
            },
            {
                "type": "range",
                "id": "card_price",
                "label": "Card Price",
            }
        ]
    ]
}
{% endschema %}