* {
  font-family: "Helvetica Neue";
}
.detail-page-image-text {
  background-color: #ffffff;
  padding: 80px 32px 32px 32px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

@media screen and (max-width: 768px) {
  .detail-page-image-text {
    padding: 40px 16px 16px 16px;
    gap: 24px;
  }
}

.detail-page-image-text__description {
  display: flex;
  & > p {
    width: 100%;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #000000;
  }
}

.detail-page-image-text__image_first {
  height: auto;
  max-height: 815px;
  overflow: hidden;

  & > img {
    width: 100%;
    height: auto;
    max-height: 815px;
    object-fit: cover;
  }
}

.detail-page-image-text__image_second {
  height: auto;
  display: flex;
  width: 100%;
  max-height: 902px;
  overflow: hidden;

  & > img {
    width: 100%;
    height: auto;
    max-height: 902px;
    aspect-ratio: 1/1;
    object-fit: contain;
  }
}

@media screen and (min-width: 768px) {
  .detail-page-image-text__description > p {
    width: 55%;
    font-size: 40px;
    line-height: 40px;
  }
  .detail-page-image-text__image_first,
  .detail-page-image-text__image_second {
    max-height: none;

    & > img {
      max-height: none;
      width: 75%;
    }
  }
}
