.detail-page-image-text {
  background-color: #ffffff;
  padding: 80px 32px 32px 32px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.detail-page-image-text__images {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media screen and (max-width: 768px) {
  .detail-page-image-text {
    padding: 40px 16px 16px 16px;
    gap: 24px;
  }
}

.detail-page-image-text__description {
  display: flex;
  & > p {
    width: 100%;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #000000;
  }
}

.detail-page-image-text__image_first {
  height: auto;
  display: flex;
  width: 100%;
  max-height: 815px !important;
  object-fit: contain;

  & > img {
    width: 100%;
    max-width: 1374px;
    height: auto;
    max-height: 815px;
    object-fit: cover;
  }
}

.detail-page-image-text__image_second {
  height: auto;
  display: flex;
  width: 100%;

  max-height: 902px;
  overflow: hidden;

  & > img {
    width: 100%;
    height: auto;
    max-width: 902px;
    max-height: 902px;
    aspect-ratio: 1/1;
    object-fit: contain;
  }
}

@media screen and (min-width: 768px) {
  .detail-page-image-text__description > p {
    width: 55%;
    font-size: 40px;
    line-height: 40px;
  }
  .detail-page-image-text__image_first,
  .detail-page-image-text__image_second {
    max-height: none;

    & > img {
      max-height: none;
    }
  }
}

@media screen and (min-width: 1880px) {
  .detail-page-image-text__description > p {
    width: 100%;
    font-size: 64px;
    line-height: 64px;
  }
  .detail-page-image-text__images {
    flex-direction: row;
    gap: 32px;
    padding-left: 180px;
  }
}
