* {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  padding: 40px 16px 52px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.hero__description {
  display: flex;
  flex-direction: column;
  gap: 24px;
  display: none;
}
.hero__description-small {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.hero__description-text {
  font-size: 16px;
  line-height: 24px;
}
.hero__description-button {
  padding: 16px;
  background-color: #000000;
  border-radius: 1000px;
  width: fit-content;
}
.hero__description-button a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
}
.hero__content-first-title {
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
}
.hero__content-second {
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
  text-align: center;
}
.hero__content-third {
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
  text-align: right;
}
@media (min-width: 1024px) {
  .hero__wrapper {
    flex-direction: row;
    align-items: flex-start;
  }
  .hero__content {
    width: 100%;
  }
  .hero__description {
    display: flex;
    max-width: 30%;
  }
  .hero__content-first {
    display: flex;
    justify-content: space-between;
  }
  .hero__content-first-title,
  .hero__content-second,
  .hero__content-third {
    font-size: 80px;
    line-height: 60px;
    font-weight: 300;
  }
  .hero__description-button {
    padding: 16px 24px;
  }
  .hero__description-small {
    display: none;
  }
}
@media (min-width: 1440px) {
  .hero__content-first-title,
  .hero__content-second,
  .hero__content-third {
    font-size: 162px;
    line-height: 144px;
    font-weight: 300;
  }
}
