* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pastprojects {
  background-color: #f1f1f1;
  padding: 64px 16px 16px 16px;
}
.pastprojects__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.pastprojects__title {
  font-size: 48px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: -0.04em;
}
.pastprojects__description-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.pastprojects__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.pastprojects__button {
  padding: 9px 16px;

  background-color: #000000;
  border-radius: 1000px;
  border: none;
  cursor: pointer;
  width: fit-content;
  white-space: nowrap;
}
.pastprojects__button a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 14px;
  color: #ffffff;
}
.pastprojects__projects-container {
  display: flex;
  gap: 4px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 24px;
}
.pastprojects__project {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

@media (min-width: 1024px) {
  .pastprojects__container {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 48px;
  }
  .pastprojects__title {
    font-size: 160px;
    font-weight: 300;
    line-height: 144px;
    letter-spacing: -0.04em;
    max-width: 59%;
  }
  .pastprojects__description-container {
    max-width: 31%;
    justify-content: flex-end;
  }
}
