* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.richtext {
  margin: 52px 16px 0 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.richtext__container {
  position: relative;
}
.richtext__image {
  width: 100%;

  aspect-ratio: 1;
  object-fit: contain;
  overflow: hidden;
}
.richtext__description {
  position: absolute;
  bottom: 16px;
  left: 16px;
  width: 100%;
  z-index: 9;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.richtext__description-country-icon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.richtext__description-country-icon img {
  width: 12px;
  aspect-ratio: 1;
}
.richtext__description-country {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid black;
  color: black;
  text-align: center;
  padding: 4px 8px;
  border-radius: 1000px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}
.richtext__description-name {
  color: black;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
}
.richtext__description-btn-container {
  display: flex;
  gap: 16px;
}
.richtext__description-btn {
  padding: 16px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  border: none;
  border-radius: 1000px;
  &:nth-child(1) {
    background-color: black;
    color: white;
  }
  &:nth-child(2) {
    background-color: white;
    color: black;
  }
}
.richtext__signature {
  position: absolute;
  top: 16px;
  right: 16px;
}
@media (min-width: 768px) {
  .richtext__description {
    top: 24px;
    left: 24px;
  }
  .richtext__image {
    width: 100%;
  }
}
