:root {
  --primary-color: #102116;
  --secondary-color: #ffffff;
}

.tailgate {
  height: 100%;
  width: 100%;
  position: relative;
  margin-bottom: 100px;

  .tailage-card {
    background-color: var(--primary-color);
    height: fit-content;
    width: 80%;
    border-radius: 25px;
    position: relative;
    padding: 20px;
    gap: 20px;

    .tailgate-image {
      display: flex;
      margin-right: -60px;
      height: 350px;

      .background-image-wrapper {
        height: 90%;
        width: 100%;
        overflow: hidden;
        border-radius: 10px;

        .bg-image,
        .bg-image-check {
          border-radius: 10px;
          height: 100%;
          width: 80%;
          object-fit: cover;
          object-position: top;
          overflow: hidden;
        }

        .bg-image-check {
          margin-top: 50px;
          width: 100% !important;
          margin-left: calc(45px - 24px + 24px) !important;
          border-radius: 10px;
          overflow: hidden;
        }
      }

      .front-image {
        height: 200px;
        width: 200px;
        position: absolute;
        object-fit: cover;
        object-position: top;
        right: 0;
        bottom: 0;
        margin-right: -10px;
        border-radius: 10px;
        display: none;
      }

      .front-image-check {
        height: 200px;
        width: 200px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
        position: absolute;
        /* left: 65%; */
        right: -60px;
        bottom: -10px;
      }
    }

    .tailgate-body {
      display: flex;
      gap: 20px;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        font-size: clamp(40px, 8vw, 85px);
        font-weight: 700;
        line-height: clamp(50px, 8vw, 85px);
        color: var(--secondary-color);
        text-transform: uppercase;
      }

      p {
        font-weight: 400;
        font-size: clamp(20px, 8vw, 24px);
        line-height: clamp(30px, 8vw, 24px);
        color: var(--secondary-color);
      }

      button {
        width: 250px;
        padding-inline: 50px;
        padding-block: 10px;
        text-align: center;
        border-radius: 56px;
        border: none;

        a{
          text-decoration: none;
        }

        span {
          font-size: clamp(20px, 4vw, 27px);
          color: var(--primary-color);
        }
      }
    }

    @media screen and (min-width: 1380px) {
      width: 1355px;
    }
  }
}

@media screen and (min-width: 575px) {
  .tailgate {
    height: 850px;
    .tailage-card {
      .tailgate-image {
        height: 500px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .tailgate {
    .tailage-card {
      width: 90%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .tailgate-image {
        margin-right: 0px;

        .background-image-wrapper {
          .bg-image-check {
            width: 100%;
            overflow: hidden;
            margin-left: calc(0px) !important;
          }
        }

        .front-image-check {
          right: -50px;
          bottom: -40px;
          height: 200px;
          width: 200px;
        }
      }

      .tailgate-body {
        button {
          width: fit-content;
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .tailgate {
    position: relative;

    .tailage-card {
      height: 700px;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      padding: 48px 55px;

      .tailgate-image {
        height: 700px;
        .background-image-wrapper {
          height: 100%;
          width: 100%;
          position: relative;
        }

        .front-image {
          height: 200px;
          width: 200px;
          margin-bottom: -100px;
          margin-left: 15px;

          z-index: 20;
          left: 0;
          right: 90%;
          display: block;
        }

        /* if toggle is check this applies */
        .front-image-check {
          right: -40px;
          bottom: -60px;
          height: 300px;
          width: 300px;
        }
      }

      .tailgate-body {
        height: 600px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .tailgate {
    .tailage-card {
      .tailgate-image {
        .front-image {
          height: 330px;
          width: 330px;
        }

        /* if toggle is check this applies */
        .front-image-check {
          right: -40px;
          bottom: -60px;
          height: 300px;
          width: 300px;
        }
      }
    }
  }
}
