.collection-list-wrapper{
    &.grid{
        row-gap: 40px;
        @include media-breakpoint-up(md) {
            column-gap: 40px;
        }
    }
    &.grid--5-col-desktop,
    &.grid--3-col-desktop{
        .grid__item{
            width: 100%;
            max-width: 100%;
            @include media-breakpoint-up(md) {
                width: calc(33.33% - 40px * 2 / 3);
                max-width: calc(33.33% - 40px * 2 / 3);
            }
        }
    }
    .grid--2-col-tablet-down{
        .grid__item{
            column-gap: 40px;
            @include media-breakpoint-down(sm) {
                width: calc(50% - 40px * 1/2);
                max-width: 50%;
            }
        }
        .card__information {
            @include media-breakpoint-down(sm) {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
    }
    .title{
        margin-right: 10px;
        transition: all 0.3s ease-in-out;
        @include media-breakpoint-up(md) {
            margin-right: 16px;
        }
    }
    .card__heading{
        a{
            &:hover{
                .title{
                    margin-right: 13px;
                    @include media-breakpoint-up(md) {
                        margin-right: 20px;
                    }
                }
            }
        }
        i{
            font-size: 16px;
            @include media-breakpoint-up(md) {
                font-size: 20px;
                height: 18px;
            }
        }
    }
    .collection-list:not(.slider){
        row-gap: 42px;
    }

    .collection-list__item{
        .card__heading a{
            justify-content: center;
            @include media-breakpoint-up(md) {
                justify-content: left;
            }
        }
        i{
            display: none;
            @include media-breakpoint-up(md) {
                display: inline-block;
            }
        }
        .title{
            @include media-breakpoint-down(md) {
                margin-right: 16px;
            }
        }
    }

    .card .icon-wrap{
        font-size: 20px;
        // height: 19px;
        @include media-breakpoint-up(md) {
           font-size: 24px;
        //    height: 21px;
        }
    }
}


.lalo-image{
    .collection-list{
        .card__inner{
            @include media-breakpoint-down(md) {
                --ratio-percent: 66.67% !important;
            }
        }
    }
}
