.about-us{
    .btn{
         + .about-us__title{
            margin-top: 12px;
            @include media-breakpoint-up(md) {
                margin-top: 32px;
            }
        }
    }
    &__img{
        img{
            @include transition(all 0.3s ease !important);
        }
    }
    &__content-wrap{
        position: relative;
        z-index: 2;
    }
    &__side-img{
        width: 178px;
        margin-left: auto;
        margin-top: 60px;
        @include transition(all 0.3s ease !important);
        // top: calc(100% - 160px);
        @include media-breakpoint-up(md) {
            position: absolute;
            right: 0;
            margin-top: 80px;
        }
        @include media-breakpoint-up(lg) {
            width: 200px;
            margin-top: 100px;
        }
        @include media-breakpoint-up(xl) {
            width: 257px;
            margin-top: 126px;
        }
    }
    &__text{
        *{
            @extend .body;
        }
    }
}