.slider--mobile {
    &.grid--1-col-tablet-down.grid--peek .grid__item{
        width: 100%;
        &:first-of-type{
            padding-left: 0;
        }
        &:last-of-type{
            padding-right: 0;
        }
    }
}

.multicolumn-list{
    &.grid--2-col-tablet-down{
        .multicolumn-list__item{
            @include media-breakpoint-down(md) {
                width: calc(50% - 40px * 1/2);
                max-width: 50%;
            }
        }
    }
}

.multicolumn{
    .description-content{
        *{
            @extend .body;
        }
    }
}