.product-design-feature{
    @include transition(all 0.8s ease !important);
    &.background-sage{
        background-color: $light-pesto;
        .card__title-link a{
            color: $basil;
        }
    }
    &.background-coconut{
        background-color: $white;
        .card__title-link a{
            color: $lalo-ink;
        }
    }
    &.background-licorice{
        background-color: $gray-200;
    }
    &.background-blueberry{
        background-color: $light-sky;
        .card__title-link a{
            color: $lalo-ink;
        }
    }
    &.background-grapefruit{
        background-color: $light-apricot;
        .card__title-link a{
            color: $tangerine;
        } 
    }
    &__title{
        max-width: 280px;
        margin: auto;
        @include media-breakpoint-up(md) {
            max-width: 480px;
        }
    }
    &__product{
        max-width: 485px;
        margin: auto;
        .card__inner{
            max-width: 388px;
            margin: auto;
        }
        .description-content{
            *{
                @extend .body-sm;
            }
        }
    }
    .card__media{
        img{
            &.d-none,
            &.leaving,
            &.showing{
                opacity: 0;
                @include transition(all 0.3s ease !important);
                visibility: visible;
            }
            &.show{
                opacity: 1;
                visibility: visible;
                @include transition(all 0.5s ease !important);
            }
        }
    }
}