.rich-icon{
    width: 37px;
    max-height: 21px;
    margin: auto;
    @include media-breakpoint-up(md) {
        width: 44px;
        max-height: 25px;
    }
    img{
        object-fit: contain;
        vertical-align: top;
        max-height: 25px;
    }
}

.rich-text__blocks > * {
    margin-bottom: 32px;
}

.rich-text__blocks{
    .rich-icon{
        margin-bottom:  36px;
    }
    .rich-heading{
        > *{
            margin-bottom: 32px;
            @include media-breakpoint-up(md) {
                margin-bottom: 52px;
            }
        }
        @include media-breakpoint-up(md) {
            margin-top: 20px;
        }
    }
}

.rich-text__blocks > * + .rich-icon{
    margin-bottom: 0;
}

.rich-text__blocks > .rich-icon + .rich-heading{
    margin-top: 36px;
}

.rich-text__blocks > .rich-icon + .btn{
    @include media-breakpoint-down(md) {
        margin-top: 36px;
    }
}

.rich-text__blocks > .rich-heading + *{
    @include media-breakpoint-up(md) {
        margin-top: -14px;
    }
}

.rich-text__blocks > .rich-heading + .rich-icon{
    @include media-breakpoint-up(md) {
        margin-bottom: 20px;
    }
}

.rich-text{
    &--md{
        .rich-text__blocks>.btn,
        .rich-text__blocks>.rich-icon{
            margin-top: 12px;
        }
        .rich-text__blocks>.rich-text__text {
            margin-top: 16px;
        }
        .rich-text__blocks .btn  + .rich-icon{
            margin-top: 0;
          }
    }
}