.shop-the-room{
    // &.multiple-rooms{
    //     padding-top: 64px;
    //     @include media-breakpoint-up(md) {
    //         padding-top: 80px;
    //     }
    // }
    opacity: 1;
    transition: all 0.5s ease-in-out;
    &.d-none{
        opacity: 0;
    }
    .shop{
        @include media-breakpoint-up(sm) {
            display: none;
        }
    }
    .spots{
        padding-right: 5px;
        .thumb-product-card{
            position: relative;
            &.checked{
                padding-bottom: 32px;
            }
        }
        .spot{
            width: 35px;
            height: 35px;
            background-color: $light-sky;
            cursor: pointer;
            &:hover,
            &:focus,
            &.active{
                @include media-breakpoint-up(sm) {
                    background-color: $pineapple;
                }
            }
        }
        &.active-spot.preview,
        &:hover{
            .shop{
                display: block;
                position: absolute;
                left: 100%;
                top: 50%;
                transform: translateY(-50%);
                width: 318px;
                z-index: 5;
            }
            .spot{
                @include media-breakpoint-up(sm) {
                    background-color: $pineapple;
                }
            }
        }
        .shop{
            &__image{
                flex: 90px;
            }
            &__content{
                flex: calc(100% - 90px - 24px);
                &-wrap{
                    &.checked{
                        .product-variant--dropdown{
                            margin-bottom: 24px;
                        }
                    }
                    .product-variant--dropdown{
                        margin-bottom: 12px;
                    }
                }
            }
        }
    }
    .swiper-slide-thumb-active{
        .spots{
            .spot{
                background-color: $pineapple;
            }
        }
    }
    &__controls{
        .dots{
            width: 6px;
            height: 6px;
            border: 1px solid $primary;
            border-radius: 50%;
            background-color: transparent;
            font-size: 0;
            margin: 2px;
            &.active{
                background-color: $primary;
            }
        }
    }
    &__title{
        padding-top: 64px;
        @include media-breakpoint-up(md) {
            padding-top: 80px;
        }
        .btn-group{
            position: relative;
            background: transparent;
            box-shadow: 0px 10px 64px rgb(0 0 0 / 0%);
            border-radius: 10px;
            padding: 10px 20px;
            @include media-breakpoint-up(sm) {
                margin-top: -10px;
                margin-left: -20px;
            }
            @include media-breakpoint-down(sm) {
                display: inline-flex;
            }
            &.open{
                background: #ECF3FF;
                box-shadow: 0px 10px 64px rgb(0 0 0 / 10%);
                .room-btn{
                    i{
                        transform: rotate(-90deg);
                        // transform-origin: 4px;
                        // @include media-breakpoint-up(md) {
                        //     transform-origin: 6px;
                        // }
                    }
                }
            }
            .room-btn{
                background: transparent;
                border: 0;
                outline: none;
                border-bottom: 1px dashed $classic-blue;
                text-transform: lowercase;
                padding: 0;
                @include media-breakpoint-down(sm) {
                    margin: auto;
                }
                &:focus,
                &:hover{
                    background: transparent;
                    border: 0;
                    outline: none;
                    border-bottom: 1px dashed $classic-blue;
                }
                i{
                    font-size: 8px;
                    display: inline-block;
                    transform: rotate(90deg);
                    transform-origin: 2px;
                    // @include media-breakpoint-up(md) {
                    //     transform-origin: 0px;
                    // }
                }
            }
        }
        .liList{
            ul{
                list-style: none;
                z-index: 9;
                text-transform: lowercase;
                margin-block-end: 0;
                top: 100%;
                left: 0;
                text-align: left;
                visibility: hidden;
                opacity: 0;
                padding-left: 0;
                position: absolute;
                background: #ecf3ff;
                width: 100%;
                left: 0;
                border-radius: 0 0 10px 10px;
                padding: 10px 20px;
                z-index: 2;
                li{
                    opacity: 0.4;
                    text-transform: lowercase;
                    cursor: pointer;
                    &:hover{
                        opacity: 1;
                    }
                    i{
                        display: none;
                    }
                }
            }
            &.open{
                ul{
                    opacity: 1;
                    z-index: 9;
                    visibility: visible;
                }
            }
        }
    }
}