// login
.form__message{
    @extend .h4;
    &:focus-visible{
        outline: none;
        box-shadow: none;
    }
}

.reset-password{
    p{
        margin-top: 20px;
    }
}

.account-btn{
    @extend .btn;
    @extend .btn--primary;
    font-weight: 500;
    &--secondary{
        @extend .btn;
        @extend .btn--secondary; 
        font-weight: 500;
    }
}

.account-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.account-logout{
    text-decoration: none;
    i{
        margin-right: 10px;
    }
}

.account-detail{
    @extend .border-start;
    @extend .border-primary;
    padding-left: 32px;
}

.customer{
    &.addresses{
        max-width: 700px !important;
        p,
        a{
            margin-top: 16px;
        }
        a{
            display: inline-block;
        }
        .default-address{
            margin-top: 60px;
        }
    }
}